$colors:(pizzaPan: rgb(170, 74, 5), shadow:rgba(0, 0, 0, 0.75));

.pizza {
  width: 100%;
  margin: auto;
  // height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;

  // @media (max-width: 500px)  {
  //   width: 350px;
  //   height: 300px;
  // }

  // @media (min-width: 500px) {
  //   width: 450px;
  //   height: 400px;
  // }

  // @media (min-width: 1000px) {
  //   width: 700px;
  //   height: 600px;
  // }



}

.add-ing-message {
  margin-top: 88px;
}

#interface {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: auto;
}

#pizzacontainer {

  margin: auto;
  width: 540px;
  height: 530px;
  position: relative;
  overflow: hidden;

  background-color: rgba(122, 122, 122, 0.67);

}

#pizzapan {
  width: 400px;
  height: 400px;

  background-color: map-get($colors, pizzaPan);
  border-radius: 85px;

  position: absolute;

  box-shadow: 0px 5px 25px 5px map-get($colors, shadow);
  -webkit-box-shadow: 7px 7px 7px 0px map-get($colors, shadow);

  top: 50px;
  left: 70px;
  transform: rotate(45deg);


  @media (max-width: 500px) {
    transform: scale(0.7);
  }
}

#panhandle {
  width: 50px;
  height: 390px;
  position: absolute;
  top: -75px;
  left: 370px;
  background-color: map-get($colors, pizzaPan);
  transform: rotate(45deg);
}

#pizzashadow {
  width: 380px;
  height: 380px;
  border-radius: 100%;
  position: relative;
  top: 10px;
  left: 10px;

  box-shadow: 10px 10px 29px 0px map-get($colors, shadow);
  -webkit-box-shadow: 10px 10px 29px 0px map-get($colors, shadow);
}

#pizza {
  width: 380px;
  height: 380px;
  border-radius: 100%;
  background-color: rgb(246, 230, 161);
  position: absolute;

  @media (max-width: 500px) {
    transform: scale(0.7);
  }

}

.spin {
  animation: spin linear infinite 13s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#tomatosauce {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: rgb(179, 18, 18);
  position: absolute;
  border-style: wave;
  top: 15px;
  left: 15px;
}

#cheese {
  width: 330px;
  height: 330px;
  border-radius: 100%;
  background-color: rgb(224, 223, 206);
  position: absolute;
  top: 10px;
  left: 10px;
}

