#pepperoni-holder {
    width: 310px;
    height: 310px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.pepperoni {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(179, 18, 18);
    position: absolute;
    display: block;
}

.p1 {
    top: 200px;
    left: 200px;
}

.p2 {
    top: 80px;
    left: 230px;
}

.p3 {
    top: 0px;
    left: 140px;
}

.p4 {
    top: 40px;
    left: 30px;
}

.p5 {
    top: 170px;
    left: 20px;
}

.p6 {
    top: 240px;
    left: 100px;
}

.p7 {
    top: 160px;
    left: 120px;
}