$colors:(anchorMain: #8F5C2C, anchorActive:#40A4C8);

.navigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;

    a {
        color: map-get($colors, anchorMain);
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;

        @media (min-width: 500px) {
            color: white;
            height: 100%;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
        }
    }

    a:hover,
    a:active,
    a.active {
        color: map-get($colors, anchorActive);

        @media (min-width: 500px) {

            background-color: map-get($colors, anchorMain);
            border-bottom: 4px solid map-get($colors, anchorActive);
            color: white;

        }
    }

    @media (min-width: 500px) {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
}