#pepper-holder {
    width: 310px;
    height: 310px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.pepper {
    width: 10px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(18, 190, 61);
    position: absolute;

    display: block;
}

.pe1 {
    top: 20px;
    left: 200px;
}

.pe2 {
    top: 70px;
    left: 190px;
    transform: rotate(270deg);
}

.pe3 {
    top: 180px;
    left: 90px;
    transform: rotate(90deg);
}

.pe4 {
    top: 50px;
    left: 80px;
    transform: rotate(110deg);
}

.pe5 {
    top: 130px;
    left: 110px;
    transform: rotate(200deg);
}

.pe6 {
    top: 200px;
    left: 180px;
    transform: rotate(70deg);
}

.pe7 {
    top: 140px;
    left: 230px;
}

.pe8 {
    top: 150px;
    left: 10px;
}

.pe9 {
    top: 0px;
    left: 100px;
    transform: rotate(70deg);
}

.pe10 {
    top: 100px;
    left: 30px;
    transform: rotate(170deg);
}

.pe11 {
    top: 220px;
    left: 130px;
    transform: rotate(220deg);
}